.home__header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(172, 171, 171); */
    padding-top: 1rem;
    align-items: center;

}



.home__hero {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.login, .register {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}



.login,
.register {
    /* border: 1px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__title,
.register__title {
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 0.5rem;
}

.login__form,
.register__form{
    /* border: 1px solid red; */
    width: 50%;
    /* align-items: center; */
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__form__bottom,
.register__form__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1rem;
}


.taskboard {
    margin-top: 5rem;
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: column;
     */
}

.taskboard__btn {
    border: 1px solid white;
}

.task { 
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}


.todo,
.doing,
.done {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 3rem;
}


.todo > :first-child,
.doing > :first-child ,
.done > :first-child {
    margin-top: 2rem;
}

.todo__card,
.doing__card,
.done__card {
    /* margin-top: 1rem; */
    border: 1px solid #4649af;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    min-width: 250px;
}



.task__card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;    
}


@media (max-width: 639px) {
    
}