/**
* Sections
* 1. Content sectioning
* 2. Text content
* 3. Inline text semantics
* 4. Image and multimedia
* 5. Tables
* 6. Forms
* 7. Interactive elements
*/

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Design Tokens */
:root {
    --font: 'Eczar', serif;

    --background-primary: white;
    --background-tertiary: #dbeafe;
    --background-muted: #f8fafc;

    --color-primary: #030615;
    --color-link: #2563eb;
    --color-link-transparent: rgba(37, 99, 235, 0.1);
    --color-highlight: #fef9c3;

    --gradient-start: #9580ff;
    --gradient-end: #80ffea;

    --border-primary: #f1f5f9;
    --border-secondary: #bed1e7;
    --border-highlight: #64748b;

    --padding-small: 1rem;
    --padding-large: 2rem;

    --border-radius-small: 0.5rem;
    --border-radius-large: 0.75rem;
    --highlight-border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #05070f;
        --background-secondary: #0e101e;
        --background-tertiary: #121424;
        --background-muted: #1a1e32;

        --color-primary: white;
        --color-link: #60a5fa;
        --color-link-transparent: rgba(37, 99, 235, 0.1);
        --color-highlight: #fef9c3;

        --border-primary: #29325b;
        --border-secondary: #323c71;
        --border-highlight: #4649af;
    }
}

/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    line-height: calc(1em + 0.5rem);
}

body {
    background: var(--background-primary);
    color: var(--color-primary);
    font-size: 0.875rem;
}

html {
    scroll-behavior: smooth;
}

/* Special */
.text-gradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}

/* Typography */
h1, h2, h3, h4, h5, h6, button {
    font-family: "Grenze", serif;
    width: fit-content;
}

h1 { font-size: 1.875rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p { display: block; width: fit-content; }
span { font-weight: inherit; font-size: inherit; }

/* Content Sectioning */
address { font-style: normal; }

aside {
    float: right;
    width: 40%;
    padding: 0.75rem;
    margin: 0.5rem;
    font-style: italic;
    color: var(--color-primary);
    background-color: var(--background-muted);
    border-radius: var(--border-radius-large);
}

/* Text Content */
blockquote {
    position: relative;
    padding-left: 1.5rem;
    margin: 0;
}
blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 7px solid var(--border-primary);
    border-radius: 6px;
}
blockquote footer { padding-top: 1rem; }

dd { padding-bottom: 11px; }
dt { font-weight: bold; }
figcaption { padding-top: 10px; font-size: 0.8rem; }
ul, ol { list-style-position: inside; padding-left: 1rem; }

/* Inline Text Semantics */
a { color: var(--color-link); text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: underline; }

.link-button {
    border: none;
    color: var(--color-link);
    box-shadow: none;
    padding: 0;
}
.link-button:hover { text-decoration: underline; }

mark, samp, kbd, code, time {
    border-radius: var(--highlight-border-radius);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
mark { background-color: var(--color-highlight); padding: 0 4px; }
samp { font-weight: bold; padding: 0.5rem 1rem; background-color: var(--background-muted); color: var(--color-primary); }
kbd, time { padding: 0 0.5rem; background-color: var(--background-muted); color: var(--color-primary); }
code, pre {
    font-size: 0.9em;
    padding: 0.2rem 0.5rem;
    background: var(--background-muted);
    border: 1px solid var(--border-primary);
    max-width: fit-content;
    overflow-x: auto;
}
pre > code { padding: 10px; border: 0; display: block; }
pre { border-radius: var(--border-radius-large); }

sup, sub { line-height: normal; }

/* Image and Multimedia */
audio, img, picture, canvas, svg, video {
    display: block;
    border-radius: var(--border-radius-large);
    max-width: 100%;
}
img { height: auto; }
audio { width: 100%; }

/* Tables */
table {
    width: fit-content;
    border: 1px solid var(--border-primary);
    background: var(--background-muted);
    border-radius: var(--border-radius-small);
}
table tr:first-child th:first-child { border-top-left-radius: 8px; }
table tr:first-child th:last-child { border-top-right-radius: 8px; }
table tr:last-child td:first-child { border-bottom-left-radius: 8px; }
table tr:last-child td:last-child { border-bottom-right-radius: 8px; }
th { background-color: var(--background-muted); }
td { background: var(--background-primary); }
td, th { text-align: left; padding: 8px; }
thead { border-collapse: collapse; }
tfoot { border-top: 1px solid black; }
table tr:hover td,
tbody tr:nth-child(even):hover td { background-color: var(--background-muted); }

/* Forms */
input, button, select, textarea, optgroup {
    font-size: 1em;
    background-color: var(--background-muted);
    border: 1px solid var(--border-secondary);
    color: var(--color-primary);
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius-small);
    width: 100%;
    outline: none;
    appearance: none;
}
input:disabled { cursor: not-allowed; opacity: 0.6; }
input[type="checkbox"] { border-radius: 7px; width: fit-content; vertical-align: middle; margin: 0.5rem 0.25rem 0.5rem 0; }
input[type="radio"] { border-radius: 100%; }
input[type="checkbox"]:checked, input[type="radio"]:checked { background: var(--border-secondary); }
input[type="number"].buttonless { appearance: textfield; -moz-appearance: textfield; }
input[type="number"].buttonless::-webkit-inner-spin-button,
input[type="number"].buttonless::-webkit-outer-spin-button { display: none; }

button {
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--background-primary);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 0.25rem 1.25rem;
    border: 1.5px solid var(--border-secondary);
    border-radius: var(--border-radius-small);
    box-shadow: 2px 2px 0 0 var(--border-secondary);
    transition-duration: 200ms;
}
button:hover { box-shadow: 0 0 0 0 var(--border-secondary); transform: translate(2px, 2px); }
button:disabled { box-shadow: 2px 2px 0 0 var(--border-secondary); transform: translate(0); cursor: initial; opacity: 0.55; }

label { display: block; max-width: fit-content; font-weight: 500; }

/* Interactive Elements */
details { border: 1px solid var(--border-primary); border-radius: var(--border-radius-small); padding: 0.5rem 0.75rem; }
summary { font-weight: bold; }
details[open] summary { border-bottom: 1px solid var(--border-primary); margin-bottom: 0.5rem; }

/* Cards & Buttons */
.card, .card-button {
    background-color: var(--background-muted);
    color: var(--color-primary);
    padding: 1rem;
    border-radius: 0.5rem;
}
.card { border: 1px solid var(--color-link-transparent); }
.card-button { border: 1px solid var(--border-secondary); box-shadow: none; }
.card-button:hover { border-color: var(--border-highlight); }
.card-button-primary { color: var(--background-primary); background: var(--color-link); border: none !important; box-shadow: none !important; }
.card-button-secondary { color: var(--color-link); background: var(--color-link-transparent); border: none !important; box-shadow: none !important; }
.card-button-primary:hover, .card-button-secondary:hover { opacity: 0.6; transform: none; }

/* Container */
.container { width: 100%; margin-inline: auto; padding-inline: 0.5rem;  }
@media (min-width: 475px) { .container { max-width: 475px; } }
@media (min-width: 640px) { .container { max-width: 640px; } }
@media (min-width: 768px) { .container { max-width: 768px; } }
@media (min-width: 1024px) { .container { max-width: 1024px; } }
/* @media (min-width: 1280px) { .container { max-width: 1280px; } } */
/* @media (min-width: 1536px) { .container { max-width: 1536px; } } */

/* Responsive Typography & Inputs */
@media (min-width: 640px) {
    body { font-size: 1rem; }
    h1 { font-size: 2.25rem; }
    h2 { font-size: 1.875rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
    h5 { font-size: 1.125rem; }
    h6 { font-size: 1rem; }
    button { width: fit-content; }
    input { max-width: 600px; }
}
